body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 10px;
}

.barra img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.barra img:hover {
    transform: scale(1.1);
}

.barra button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.barra .busqueda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    width: 600px;
}

.barra .busqueda input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    background-color: transparent;
    color: inherit;
}

.barra .busqueda button img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}